%header.site-header{role: "banner"}
	.container
		%h1.site-name
			A Yinzer's Guide to #MCN2017
		<a href="https://github.com/CMP-Studio/mcn-yinzers-guide"><img style="position: absolute; top: 0; right: 0; border: 0;" src="assets/images/git-ribbon.png" alt="Contribute on GitHub" data-canonical-src="assets/images/git-ribbon.png"></a>

	
